.game-outer {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
	width: 100%;
}

.game-inner {
	--aspect-ratio-width: 1;
	--aspect-ratio-height: 1;

	aspect-ratio: var(--aspect-ratio-width) / var(--aspect-ratio-height);
	border: 1px solid white;
	height: calc(var(--aspect-ratio-height) / var(--aspect-ratio-width) * 100vw);
	max-height: 100vh;
	max-width: calc(
		var(--aspect-ratio-width) / var(--aspect-ratio-height) * 100vh
	);
}
